

.table-container select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 10px; /* Espacement supplémentaire au-dessus */
    width: 250px; /* Fixe une largeur plus raisonnable pour le select */
    flex-grow: 1; /* Permet au sélecteur de prendre la place disponible */
}
