{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Site en cours de finalisation</h1>
    <p>Projets encore en cours :</p>
    <ul>
      <li>1) Un onglet commentaire pour faire des retours à l'admin.</li>
      <li>2) Introduire la possibilité de changer le nom d'une liste créée.</li>
      <li>3) Ajouter des minis fiches d'oiseaux et des liens vers leur description lors du lancement d'un quizz.</li>
    </ul>

    <h2>Contact</h2>
    <p>Pour toute question, vous pouvez me contacter :</p>
    <ul>
      <li><strong>Nom :</strong> Partouche </li>
      <li><strong>Prénom :</strong> Alexandre </li>
      <li><strong>Email :</strong> <a href="mailto:monde.merveilleux.des.oiseaux@gmail.com">monde.merveilleux.des.oiseaux@gmail.com</a></li>
    </ul>
  </div>
{% endblock %}
