{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1>Bienvenue sur GentilOiseau</h1>
        <p>Plongez dans le monde merveilleux des oiseaux et apprenez à reconnaître leurs chants.</p>
        <a href="/quiz" class="btn-primary">Commencer le quiz</a>
    </div>
</section>

<section class="about">
    <h2>Le chant des oiseaux, une mélodie pour l'âme</h2>
    <p>Le chant des oiseaux est une symphonie de la nature, chaque note résonne comme un témoignage de la beauté sauvage et fragile de notre monde. À travers ce quiz, découvrez la diversité des espèces et apprenez à reconnaître les sons qui les accompagnent. Un voyage sonore vous attend.</p>
    <a href="/about" class="btn-secondary">En savoir plus</a>
</section>

<section class="featured">
    <h2>Pourquoi apprendre les chants des oiseaux ?</h2>
    <div class="card">
        <img src="https://example.com/image1.jpg" alt="Chant d'oiseau" />
        <h3>Un challenge éducatif</h3>
        <p>Testez vos connaissances et améliorez votre capacité à identifier les oiseaux par leurs chants.</p>
    </div>

</section>



{% endblock %}