{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Bienvenue sur notre site</h1>
    <p>
        Ce site est dédié à l’écoute des chants d’oiseau, à leur comparaison et à leur mémorisation.
        Les chants d’oiseaux sont en libre accès et ont été récupérés sur le site 
        <a href="https://www.xeno-canto.org/" target="_blank" rel="noopener">xeno-canto</a>.
    </p>

    <h2>Ce que le site propose :</h2>
    <ul>
        <li>
            Un outil public permettant aux visiteurs d’écouter des chants d’oiseaux. Il suffit d’aller sur la page <strong>Quiz</strong>, de chercher le ou les oiseaux qui vous intéressent, 
            puis d’appuyer sur « écouter ». 
            Il est aussi possible de récupérer les chants d’oiseaux en fonction de la région (Actuellement, seules la Bretagne et l’Ile-de-France sont disponibles) dans laquelle ils ont été enregistré ou bien en fonction de listes publiques crées par les utilisateurs.
        </li>
        <li>
            Un outil public permettant aux visiteurs de faire des quiz à partir d’une sélection d’oiseaux ou d’une génération aléatoire. 
            Seules les oiseaux selectionnés sont pris en compte dans le quizz (il est conseillé de sélectionner au moins 3 ou 4 oiseaux)..
            Par defaut le quiz est de 5 questions avec 3 possibilités de réponse par question. 
        </li>
        <li>
            Un gestionnaire de liste permettant à un utilisateur inscrit de faire des listes d'oiseaux pour les chargés dans un quiz avec possibilité de rendre les listes publiques ou privées.
        </li>
    </ul>

    <h2>Ce qu’il ne propose pas (encore) :</h2>
    <ul>
        <li>Des conseils précis pour l’écoute des chants d’oiseaux.</li>
        <li>
            Un outil de détection des chants d’oiseaux, utile si vous avez un oiseau pret de chez vous dont vous voulez connaitre le nom. 
            Pour cela, il est recommandé d’utiliser une application comme
            <a href="https://birdnet.cornell.edu/" target="_blank" rel="noopener">Birdned</a>, 
            qui fonctionne sur le même principe que <a href="https://www.shazam.com/" target="_blank" rel="noopener"></a>Shazam</a> mais pour les oiseaux.
        </li>
        <li>
            Un outil de génération par intelligence artificielle d’une liste d’oiseaux selon vos besoins, utile si vous voulez rapidement connaitre les oiseaux les plus communs de votre région.
            Le plus connu de ces outils reste <a href="https://chat.openai.com/" target="_blank" rel="noopener">ChatGPT</a>.
        </li>
    </ul>
</div>


{% endblock %}
