
{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
{% endblock %}


{% block content %}
<div class="quiz-container">
    <h1>Quiz des chants d'oiseaux</h1>

    <div class="selectors-container">
        <!-- Sélecteur de région -->
        <select id="region-select" class="quiz-region-select">
            <option value="">Toutes les régions</option>
            <option value="bretagne">Bretagne</option>
            <option value="ile-de-france">Ile-de-France</option>
            <option value="provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</option>
            <!-- Ajoutez d'autres régions -->
        </select>

        <!-- Sélecteur de listes publiques -->
        <select id="public-list-select" class="quiz-list-select">
            <option value="">Listes publiques</option>
            {% for liste in listes_publiques %}
            <option value="{{ liste.id_liste }}">{{ liste.nom_liste }}</option>
            {% endfor %}
        </select>

        {% if listes_personnelles %}
        <!-- Sélecteur de listes perso, visible uniquement pour l'utilisateur connecté -->
        <select id="private-list-select" class="quiz-list-select">
            <option value="">Listes personnelles</option>
            {% for liste in listes_personnelles %}
                <option value="{{ liste.id_liste }}">{{ liste.nom_liste }}</option>
            {% endfor %}
        </select>
        {% endif %}

        <button id="generate-random" class="quiz-button">Générer une liste aléatoire</button>

    </div>


    <!-- Mise en page principale : deux colonnes -->
    <div class="quiz-main-layout">

        
        <!-- Section gauche : Liste des oiseaux -->
        <div class="left-section">
            <h2>Liste des Oiseaux</h2>
            <!-- Recherche et sélection de la région -->
            <div>
                <input type="text" id="search" placeholder="Rechercher" class="quiz-input">
                <button id="select-all-birds" class="quiz-button">Sélectionner</button>
            </div>
            <!-- Liste des oiseaux -->
            <div id="oiseaux-list">
                <ul id="bird-list" class="quiz-bird-list"></ul>
            </div>
        </div>

        <!-- Section droite : Génération de liste et quiz -->
        <div class="right-section">
            <h2>Quiz</h2>
            <div>
                <button id="start-quiz" class="quiz-button">Lancer le quiz</button>
                <button id="settings-button" class="quiz-button">Paramètres</button>
                            <!-- Section Paramètres (initialement cachée) -->
                <div id="settings-section" style="display:none;">
                    
                    <ul>
                        <li>
                            <label for="num-questions">Nombre de questions :</label>
                            <input type="number" id="num-questions" value="5" min="1">
                        </li>
                        <li>
                            <label for="num-options">Nombre de possibilités :</label>
                            <input type="number" id="num-options" value="3" min="1">
                        </li>

                        <button id="save-settings" class="quiz-button">Sauvegarder</button>

                    </ul>
                </div>
            </div>
            
            <!-- Section des questions pour le quiz -->
            <div id="quiz-section" class="quiz-section"></div>
            <!-- Message d'erreur -->
            <div class="quiz-error-message" id="error-message" style="display: none;"></div>
        </div>
    </div>

    <!-- Lecteur audio pour écouter les chants d'oiseaux -->
    <audio id="audio-player" style="display:none;" controls>
        <p>Votre navigateur ne prend pas en charge l'élément audio.</p>
    </audio>

    
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>

{% endblock %}